CONFIG_ESPTOOLPY_PORT="/dev/cu.SLAB_USBtoUART"
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHFREQ="80m"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_SPI_FLASH_SIZE=0x400000

CONFIG_LWIP_IPV6=y
CONFIG_ENABLE_MDNS=y
CONFIG_MDNS_MAX_SERVICES=10
CONFIG_MDNS_STACKSIZE=4096

CONFIG_BUTTON_WIFI_SSID="HOWARDHOMENET"
CONFIG_BUTTON_MDNS_HOSTNAME="lamp"
CONFIG_BUTTON_MDNS_INSTANCE="Office Lamp"
