menu "Button Connection Configuration"
    config BUTTON_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) for the example to connect to.

    config BUTTON_DEFINE_WIFI_PASSWORD
        bool "Define a password for WiFi?"
        default n

    config BUTTON_WIFI_PASSWORD
        depends on BUTTON_DEFINE_WIFI_PASSWORD
        string "WiFi Password"
        help
            WiFi password (WPA or WPA2) for the example to use.
            Can be left blank if the network has no security set.

    config BUTTON_MDNS_HOSTNAME
        string "mDNS Name to use for device"
        default "lamp"

    config BUTTON_MDNS_INSTANCE
        string "mDNS Description to use for the device"
        default "the office lamp"

endmenu
